@mixin main-config {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin tablette {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}
