@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");

@function px-to-rem($px) {
    @return calc($px / 16 * 1rem);
}

// Couleurs principales

$primary-color: #ff6060;
$secondary-color: #000000;
$wrapper-background: #f5f5f5;
$white: #ffffff;

//fontes

$font: "montserrat", sans-serif;

// sizing
$container-width: px-to-rem(1240);
