@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.card {
    display: block;
    border-radius: px-to-rem(10);
    position: relative;
    width: 100%;
    height: px-to-rem(340);

    &__cover {
        width: 100%;
        height: 100%;
        border-radius: px-to-rem(10);
        object-fit: cover;
    }
    &__title {
        font-size: 18px;
        font-family: $font;

        color: $tertiary-color;
        position: absolute;
        font-size: large;
        margin: 0;
        z-index: 1;
        bottom: px-to-rem(20);
        left: px-to-rem(20);
        width: 50%;
        font-weight: bold;
    }
}

@include mobile {
    .card {
        height: px-to-rem(255);
        &__cover {
            border-radius: px-to-rem(10);
            height: 100%;
        }
        &__title {
            bottom: px-to-rem(10);
            left: px-to-rem(10);
        }
    }
}
