@use "../styles/variables" as *;
@use "../styles/mixin" as *;

.Error404 {
    @include main-config;
    &__message {
        @include main-config;
        font-family: $font;
        color: $primary-color;
        text-align: center;
        &--title {
            font-size: 280px;
            font-weight: bold;
            margin-top: px-to-rem(80);
            margin-bottom: px-to-rem(139);
        }
        &--text {
            font-size: 36px;
            margin-bottom: px-to-rem(139);
        }
    }
    &__link {
        font-size: 18px;
        margin-bottom: px-to-rem(139);
        color: black;
        font-weight: 500;
    }
}

@include tablette {
    .Error404 {
        &__message {
            &--title {
                font-size: 180px;
                margin-top: px-to-rem(50);
                margin-bottom: px-to-rem(100);
            }
            &--text {
                font-size: 28px;
                margin-bottom: px-to-rem(100);
            }
        }
    }
}

@include mobile {
    .Error404 {
        &__message {
            &--title {
                font-size: 96px;
                margin-top: px-to-rem(100);
                margin-bottom: px-to-rem(100);
            }
            &--text {
                font-size: 18px;
                margin-bottom: px-to-rem(100);
                width: px-to-rem(260);
            }
            &__link {
                font-size: 14px;
                margin-bottom: px-to-rem(100);
            }
        }
    }
}
