@use "../styles/variables" as *;
@use "../styles/mixin" as *;

.Error404 {
    @include main-config;
    &__message {
        @include main-config;
        font-family: $font;
        color: $primary-color;
        &--title {
            font-size: px-to-rem(280);
            font-weight: bold;
            margin-top: px-to-rem(80);
            margin-bottom: px-to-rem(139);
        }
        &--text {
            font-size: px-to-rem(36);
            margin-bottom: px-to-rem(139);
        }
    }
    &__link {
        font-size: px-to-rem(18);
        margin-bottom: px-to-rem(139);
        color: black;
        font-weight: 500;
    }
}
