@use "../styles/variables" as *;
@use "../styles/mixin" as *;

.home {
    @include main-config;
}

.wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: $container-width;
    background-color: $wrapper-background;
    border-radius: 25px;
    padding: px-to-rem(40);
    margin: px-to-rem(43) 0 px-to-rem(50) 0;
    gap: px-to-rem(50);
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

@include tablette {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        padding: px-to-rem(20);
    }
}
