@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.categorie {
    font-family: $font;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__wrapper {
        box-sizing: border-box;
        background-color: $primary-color;
        font-weight: 700;
        color: $tertiary-color;
        height: px-to-rem(54);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 px-to-rem(15);
        border-radius: px-to-rem(5);
        width: 100%;
        &--small {
            width: 100%;
        }
    }
    &__title {
        font-size: 24px;
        margin: 0;
    }
    &__content {
        font-size: 18px;
        padding: px-to-rem(15) 0;

        transition: transform 0.3s ease-in-out;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        text-align: left;
        align-self: flex-start;
        background-color: #fbfbfb;
        width: 100%;

        &--open-large {
            max-height: px-to-rem(200);
            opacity: 1;
        }
        &--open-small {
            max-height: px-to-rem(400);
            opacity: 1;
        }
    }
    &__arrow {
        width: px-to-rem(24);
        height: px-to-rem(13);
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        &--open {
            transform: rotate(-180deg);
        }
    }
}
@include tablette {
    .categorie {
        &--small {
            width: 100%;
        }
    }
}
@include mobile {
    .categorie {
        &__wrapper {
            height: px-to-rem(30);
        }
        &--small {
            width: 100%;
            padding: 0;
        }
        &__title {
            font-size: 12px;
        }
        &__content {
            font-size: 12px;
            &--open-large {
                max-height: px-to-rem(300); /* Ajuster pour mobile */
            }
            &--open-small {
                max-height: px-to-rem(500); /* Ajuster pour mobile */
            }
        }
        &__arrow {
            width: px-to-rem(16);
            height: px-to-rem(9);
        }
    }
}
