@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.categorie {
    font-family: $font;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: px-to-rem(1023);

    &--small {
        width: px-to-rem(500);
    }

    &__wrapper {
        box-sizing: border-box;
        background-color: $primary-color;
        font-weight: 700;
        color: $white;
        height: px-to-rem(54);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 px-to-rem(15);
        border-radius: px-to-rem(5);
        width: 96%;
        &--small {
            width: 100%;
        }
    }
    &__title {
        font-size: px-to-rem(24);
        margin: 0;
    }
    &__content {
        font-size: px-to-rem(18);
        margin: px-to-rem(20) px-to-rem(20) px-to-rem(20) px-to-rem(20);
        transition: transform 0.3s ease-in-out;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s ease;

        &--open-large {
            max-height: px-to-rem(200); /* Une valeur assez grande pour tout contenir */
            opacity: 1;
            max-width: 100%;
        }
        &--open-small {
            max-height: px-to-rem(400); /* Une valeur assez grande pour tout contenir */
            opacity: 1;
            max-width: 100%;
        }
    }
    &__arrow {
        width: px-to-rem(24);
        height: px-to-rem(13);
        transform: rotate(0deg);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
        &--open {
            transform: rotate(-180deg);
        }
    }
}
@include tablette {
    .categorie {
        &--small {
            width: 96%;
        }
    }
}
