@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.header {
    @include main-config;
    margin-top: 3rem;

    height: 68px;
    &__container {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        width: 96%;
        max-width: $container-width;
        justify-content: space-between;
    }
    &__logo {
        width: px-to-rem(210);
        height: auto;
        &--content {
            width: 100%;
            height: auto;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: px-to-rem(40);

        &--link {
            font-family: $font;
            color: $secondary-color;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            &.active {
                text-decoration: underline;
            }
        }
    }
}

@include mobile {
    .header {
        margin: px-to-rem(20);
        &__container {
            width: 100%;
        }
        &__logo {
            width: px-to-rem(145);
            &--content {
                width: 100%;
                height: auto;
            }
        }
        &__nav {
            gap: 2rem;

            &--link {
                font-size: 12px;
                width: fit-content;
            }
        }
    }
}
