@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.header {
    @include flex-center;
    margin-top: 3rem;

    height: 68px;
    &__container {
        display: flex;
        align-items: center;
        width: $container-width;
        justify-content: space-between;
    }
    &__logo {
        width: 210px;
        height: auto;
        &--content {
            width: 100%;
            height: auto;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 4rem;

        &--link {
            font-family: $font;
            color: $secondary-color;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            &.active {
                text-decoration: underline;
            }
        }
    }
}
