@use "../styles/variables" as v;
@use "../styles/mixin" as mixin;

.header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    height: 68px;
    &__container {
        @include mixin.container-size;
    }
    &__logo {
        width: 210px;
        height: auto;
        &--content {
            width: 100%;
            height: auto;
        }
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 4rem;

        &--link {
            font-family: v.$font;
            color: v.$secondary-color;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
            &.active {
                text-decoration: underline;
            }
        }
    }
}
