@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.carrousel {
    @include main-config;
    position: relative;
    width: 96%;
    max-width: $container-width;
    height: px-to-rem(415);
    margin: px-to-rem(32) auto;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: px-to-rem(25);
    }
    &____arrow--left {
        position: absolute;
        top: 50%;
        left: px-to-rem(15);
        transform: translateY(-50%) rotate(180deg);
        width: px-to-rem(40);
        height: px-to-rem(60);
        cursor: pointer;
    }
    &____arrow--right {
        position: absolute;
        top: 50%;
        right: px-to-rem(15);
        transform: translateY(-50%);
        width: px-to-rem(40);
        height: px-to-rem(60);
        cursor: pointer;
    }
    &__counter {
        position: absolute;
        bottom: px-to-rem(15);
        font-size: 18px;
        font-weight: 500;
        color: $tertiary-color;
        width: fit-content;
        font-family: $font;
    }
}

@include mobile {
    .carrousel {
        height: px-to-rem(255);
        padding: 0 px-to-rem(20);
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        &__img {
            border-radius: px-to-rem(10);
        }
        &____arrow--left {
            width: px-to-rem(30);
            height: px-to-rem(45);
            left: px-to-rem(20);
        }
        &____arrow--right {
            width: px-to-rem(30);
            height: px-to-rem(45);
            right: px-to-rem(20);
        }
        &__counter {
            display: none;
        }
    }
}
