@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.footer {
    background-color: $secondary-color;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 12rem;
    display: flex;
    justify-content: center;
    &__container {
        @include main-config;
        width: $container-width;
        flex-direction: column;
        height: 100%;
    }
    &__logo-container {
        @include main-config;
        margin: px-to-rem(32) 0px px-to-rem(32) 0px;
    }
    &__logo {
        width: px-to-rem(130);
        height: px-to-rem(45);
    }
    &__copyright {
        font-family: $font;
        font-size: 24px;
        color: $tertiary-color;
        margin: 0;
    }
}

@include mobile {
    .footer {
        height: px-to-rem(300);
        align-items: center;
        text-align: center;

        &__container {
            width: 100%;
            padding: 0 px-to-rem(20);
        }
        &__logo {
            width: px-to-rem(122);
            height: px-to-rem(40);
        }
        &__copyright {
            font-size: 14px;
            width: px-to-rem(133);
        }
    }
}
