@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.banner {
    width: 100%;
    max-width: $container-width;
    @include flex-center;
    flex-direction: column;
    position: relative;
    margin: px-to-rem(50) auto 0 auto;
    &__picture {
        width: 100%;
        height: px-to-rem(223);
        object-fit: cover;
        border-radius: px-to-rem(25);
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: px-to-rem(25);
    }
    &__text {
        position: absolute;
        color: $white;
        font-family: $font;
        font-size: px-to-rem(48);
        font-weight: 700;
        text-align: center;
        text-shadow: px-to-rem(1) px-to-rem(1) px-to-rem(2) black;
        width: fit-content;
    }
}
