@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.banner {
    @include main-config;
    width: 96%;
    max-width: $container-width;
    position: relative;
    margin: px-to-rem(50) auto 0 auto;
    &__picture {
        width: 100%;
        height: px-to-rem(223);
        object-fit: cover;
        border-radius: px-to-rem(25);
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: px-to-rem(25);
    }
    &__text {
        position: absolute;
        color: $tertiary-color;
        font-family: $font;
        font-size: 48px;
        font-weight: 700;
        text-align: center;
        text-shadow: px-to-rem(1) px-to-rem(1) px-to-rem(2) black;
        width: fit-content;
    }
}
@include tablette {
    .banner {
        &__picture {
            height: px-to-rem(150);
        }
        &__text {
            font-size: 28px;
        }
    }
}

@include mobile {
    .banner {
        width: 100%;
        box-sizing: border-box;
        padding: 0 px-to-rem(20);
        margin: 0;
        &__picture {
            height: px-to-rem(120);
            border-radius: px-to-rem(10);
        }
        &__overlay {
            width: auto;
            left: px-to-rem(20);
            right: px-to-rem(20);
            border-radius: px-to-rem(10);
        }
        &__text {
            display: flex;
            align-items: center;
            max-width: 70%;
            width: px-to-rem(225);
            height: px-to-rem(45);
            font-size: 24px;
            text-align: left;
            left: px-to-rem(40);
            font-size: 24px;
        }
    }
}
